@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Poppins:wght@300;500;700&family=Titillium+Web:wght@200;400;700&display=swap');

body{
  margin:0;
  padding:0;
  font-family: 'Poppins';
  font-weight: 300;
  background: #f7f7f7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  padding:0;
  text-decoration: none;
}

a:visited {
  color: #000;
}

h1,p {
  margin:0;
  padding:0;
}

.container {
  padding: 1em 6em;
}