.form-container {
	width: 80%;
	.title-input {
		display:block;
		width: 100%;
		border: 0;
		padding: 2rem 0;
		font-size: 2rem;
		// Remove blue when focus
		&:focus {
			outline: none;
		}
	}

	.ql-editor {
		min-height: 10rem;
	}

	.custom-button {
		margin-top: 2rem;
	}
}


.container-with-sidebar {
	display: flex;
	flex-direction: row;
	background: white;
	.sidebar {
		width: 20%;
		display:flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		padding: 0 2rem;

		.sidebar-content p {
			cursor: pointer;
		}
	}
	.form-container {
		width: 80%;
	}
}